.backdrop-box-inner {
    tr {
    display: flex;
    height: 48px;
        td{
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 0;
            color: black;
            font-weight: normal;
        }
    }
    max-height: 50vh;
    overflow: auto;
}

.backdrop-box-inner {
    h5 {
        margin: 8px;
        text-align: left
    }
}

.backdrop-box-inner{
    .controls {
        display: flex;
        flex-wrap: wrap;

        button {
            flex: 0 1 50%
        }
    }
}